{% for plan in plans -%}
plan {{ plan.name }}
  {% for inst in plan.reachable -%}
    {{ inst.type_name }} {{ inst.name }}
    {% for field in inst.fields -%}
        {{ field.name }}: {{ field.value }}
    {% endfor -%}
  {% endfor %}
{%- endfor %}
