{
  "files": [
    {
      "file": "{{ deploy.alias }}/.ground-plan.json",
      "template": "plan-stamp.json.tera"
    },
    {
      "file": "{{ deploy.alias }}/main.tf.json",
      "template": "main.tf.json.tera"
    }
  ]
}
